<app-title [title]="'Gestionar Proveedores'"></app-title>

<div class="col-md-12 p-5">
  <div class="row">
    <div class="col">
      <app-search-bar
        (searchTextChanged)="onSearchTextChanged($event)"
        [placeholder]="'Buscar proveedores ...'"
      ></app-search-bar>
    </div>
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-primary btn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <i class="fa fa-save"></i>
        Nuevo Proveedor
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table mt-2 table-bordered table-hover">
      <thead class="table-warning">
        <tr>
          <th>Nombre</th>
          <th>ID</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.name }}</td>
          <td>{{ item.id_supplier }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="selectItem(item)"
              title="Editar Proveedor"
            >
              <i class="fa fa-pencil"></i>
            </button>
            &nbsp;&nbsp;
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="delete(item.id_supplier)"
              title="Eliminar proveedor"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #actu
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="!isUpdate" class="modal-title fs-5">Nuevo Proveedor</h1>
        <h1 *ngIf="isUpdate" class="modal-title fs-5">Actualizar Proveedor</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
          (click)="newProduct()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSupplier">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="name" />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['name'].invalid &&
                  (formSupplier.controls['name'].touched ||
                    isFormSubmitted ||
                    formSupplier.controls['name'].dirty)
                "
              >
                <span *ngIf="formSupplier.controls['name'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                formControlName="id_supplier"
              />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['id_supplier'].invalid &&
                  (formSupplier.controls['id_supplier'].touched ||
                    isFormSubmitted ||
                    formSupplier.controls['id_supplier'].dirty)
                "
              >
                <span
                  *ngIf="formSupplier.controls['id_supplier'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                formControlName="phone"
              >
              <div class="text-danger" *ngIf="formSupplier.controls['phone'].invalid && (formSupplier.controls['phone'].touched || isFormSubmitted || formSupplier.controls['phone'].dirty)">
                <span *ngIf="formSupplier.controls['phone'].errors?.['required']">
                  Este Campo es Obligatorio
                </span>
                <span
                *ngIf="formSupplier.controls['phone'].errors?.['notPositiveNumber']"
                >Solo numeros positivos</span
              >
              <span
                *ngIf="formSupplier.controls['phone'].errors?.['phoneMaxLength']"
                >Maximo 10 digitos</span
              >
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['email'].invalid &&
                  (formSupplier.controls['email'].touched ||
                    isFormSubmitted ||
                    formSupplier.controls['email'].dirty)
                "
              >
                <span
                  *ngIf="formSupplier.controls['email'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
                <span *ngIf="formSupplier.controls['email'].errors?.['email']"
                  >Ingrese un correo electrónico válido</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="!isUpdate"
          type="button"
          class="btn btn-success btn-sm"
          (click)="save()"
        >
          Guardar
        </button>
        <button
          *ngIf="isUpdate"
          type="button"
          class="btn btn-warning btn-sm"

          (click)="update()"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
