<div class="px-5 pt-4">
  <div class="title container-fluid d-flex justify-content-center">
    <h5>Fecha de Facturacion: {{ currentDate | date : "medium" }}</h5>
  </div>
  <div class="title container-fluid d-flex justify-content-center">
    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Factura #</span>
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa el numero de la factura"
        aria-label="uuid"
        aria-describedby="basic-addon1"
        [(ngModel)]="uuid"
      />
      <button type="button" class="btn btn-success btn-sm" (click)="saveBuy()">
        Generar Entrada
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <h4 class="me-3">Proveedor</h4>
    <div>
      <select class="form-select" (change)="onSupplierSelected($event)">
        <option value="" disabled selected hidden>
          Selecciona un proveedor
        </option>
        <option
          *ngFor="let supplier of listSuppliers"
          [value]="supplier.id_supplier"
        >
          {{ supplier.name }}
        </option>
      </select>
    </div>
    <div class="ms-auto p-2">
      <h5>Usuario Actual: {{ username }}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Productos Disponibles</h4>
      <div class="input-group row-auto">
        <div class="form-outline flex-grow-1" data-mdb-input-init>
          <input
            type="text"
            class="form-control"
            [ngbTypeahead]="search"
            placeholder="Buscar productos..."
          />
        </div>
      </div>
      <!-- Tabla de productos -->
      <table class="table mt-2 table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th>Nombre</th>
            <th>Presentacion</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{ item.name }}</td>
            <td>
              {{ item.presentation.name_presentation }} X {{
                item.presentation.description_presentation
              }}
            </td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price_buy }}</td>
            <td>
              <button
                type="button"
                class="btn btn-success btn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="selectItem(item)"
                *ngIf="selectedSupplier"
                title="Agregar a la Factura"
              >
                <i class="fa-sharp fa-solid fa-plus"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Tabla de productos en la factura -->
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#example-product"
          >
            <i class="fa fa-save"></i>
            Nuevo Producto
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#example-supplier"
          >
            <i class="fa fa-save"></i>
            Nuevo Proveedor
          </button>
        </div>
      </div>
      <h3>Productos en la Factura</h3>
      <table class="table mt-2 table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productsFact">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{subTotal(item)}}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="addAll(item)"
                title="Eliminar de la Factura"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
   </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectedItem?.name }} - Presentacion {{
            selectedItem?.presentation?.name_presentation
          }} * {{selectedItem?.presentation?.description_presentation}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Formulario para ingresar el stock -->
        <form>
          <div class="mb-3">
            <label for="stockInput"
              >Cantidad de {{ selectedItem?.presentation?.name_presentation }} * {{selectedItem?.presentation?.description_presentation}} Unidades</label
            >
            <input *ngIf="selectedItem?.presentation?.name_presentation!=='Metro'"
              type="number"
              class="form-control"
              id="stockToAdd"
              name="stockToAdd"
              [ngModel]="stockToAdd"
              (ngModelChange)="stockToAdd = $event"
            />
          </div>
          <div class="mb-3">
            <label for="stockCount" *ngIf="selectedItem?.presentation?.name_presentation!=='Metro'">Cantidad de Unidades </label>
            <input
              type="number"
              class="form-control"
              id="stockCount"
              name="stockCount"
              [ngModel]="stockCount"
              (ngModelChange)="stockCount = $event"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          (click)="addProduct()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade custom-modal modal-lg"
  id="example-product"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #product
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Nuevo Producto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
          (click)="newProduct()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formProduct">
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-2 col-form-label">Nombre</label>

              <input type="text" class="form-control" formControlName="name" />

              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['name'].invalid &&
                  (formProduct.controls['name'].touched ||
                    isFormSubmittedProduct ||
                    formProduct.controls['name'].dirty)
                "
              >
                <span *ngIf="formProduct.controls['name'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
            <div class="col">
              <label class="col-form-label text-center">ID</label>
              <input
                type="text"
                class="form-control"
                formControlName="id_product"
              />

              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['id_product'].invalid &&
                  (formProduct.controls['id_product'].touched ||
                    isFormSubmittedProduct ||
                    formProduct.controls['id_product'].dirty)
                "
              >
                <span
                  *ngIf="formProduct.controls['id_product'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-form-label">Precio de compra</label>
              <input
                type="text"
                class="form-control"
                formControlName="price_buy"
              />
              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['price_buy'].invalid &&
                  (formProduct.controls['price_buy'].touched ||
                    isFormSubmittedProduct ||
                    formProduct.controls['price_buy'].dirty)
                "
              >
                <span
                  *ngIf="formProduct.controls['price_buy'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
                <span
                  *ngIf="formProduct.controls['price_buy'].errors?.['notPositiveNumber']"
                  >Solo numeros positivos</span
                >
              </div>
            </div>
            <div class="col">
              <label class="col-form-label">Precio de Venta</label>
              <input
                type="text"
                class="form-control"
                formControlName="price_sale"
              />
              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['price_sale'].invalid &&
                  (formProduct.controls['price_sale'].touched ||
                    isFormSubmittedProduct ||
                    formProduct.controls['price_sale'].dirty)
                "
              >
                <span
                  *ngIf="formProduct.controls['price_sale'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
                <span
                  *ngIf="formProduct.controls['price_sale'].errors?.['notPositiveNumber']"
                  >Solo numeros positivos</span
                >
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="col-sm-2 col-form-label">Proveedor</label>
              <input
                type="text"
                class="form-control"
                formControlName="id_supplier"
                [ngbTypeahead]="searchSupplier"
                [resultFormatter]="formatSupplier"
                [inputFormatter]="formatSupplier"
                (selectItem)="onSupplierSelect($event)"
                [(ngModel)]="selectedSupplier"
                placeholder="Buscar proveedores..."
              />
              <div class="text-danger" *ngIf="invalidSupplier">
                <span>El proveedor seleccionado no es válido</span>
              </div>
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-form-label">Presentacion</label>
              <select
                class="form-select"
                formControlName="presentation"
                [(ngModel)]="selectedPresentation"
              >
                <option
                  *ngFor="let option of presentationOptions"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['presentation'].invalid &&
                  (formProduct.controls['presentation'].touched ||
                    isFormSubmittedProduct ||
                    formProduct.controls['presentation'].dirty)
                "
              >
                <span
                  *ngIf="formProduct.controls['presentation'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
            <div class="col">
              <label class="col-form-label"
                >Unidades en {{ selectedPresentation }}</label
              >
              <div class="">
                <input
                  type="number"
                  class="form-control"
                  id="description_presentation"
                  name="description_presentation"
                  formControlName="description_presentation"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    formProduct.controls['description_presentation'].invalid &&
                    (formProduct.controls['description_presentation'].touched ||
                      isFormSubmittedProduct ||
                      formProduct.controls['description_presentation'].dirty)
                  "
                >
                  <span
                    *ngIf="formProduct.controls['description_presentation'].errors?.['required']"
                    >Este Campo es Obligatorio</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="col-form-label text-center"
                >Stock Minimo Del Producto</label
              >
              <input
                type="number"
                class="form-control"
                formControlName="stock"
              />
              <div
              class="text-danger"
              *ngIf="
                formProduct.controls['stock'].invalid &&
                (formProduct.controls['stock'].touched ||
                  isFormSubmittedProduct ||
                  formProduct.controls['stock'].dirty)
              "
            >
              <span
                *ngIf="formProduct.controls['stock'].errors?.['required']"
                >Este Campo es Obligatorio</span
              >
            </div>
            </div>
          </div>
          <!--<div class="col">
            <label class="col-form-label text-center"
              >Unidades</label
            >
            <input type="number" class="form-control" formControlName="units" />
          </div>
        </div>-->

          <div class="col mb-3">
            <label class="col-form-label">MARCA</label>
            <input
              type="text"
              class="form-control"
              formControlName="id_mark"
              [ngbTypeahead]="searchMark"
              [resultFormatter]="formatMark"
              [inputFormatter]="formatMark"
              (selectItem)="onMarkSelect($event)"
              [(ngModel)]="selectedMark"
              placeholder="Buscar marcas..."
            />
            <div class="text-danger" *ngIf="invalidMark">
              <span>La marca seleccionada no es válida</span>
            </div>
          </div>
          <div *ngIf="selectedMark?.name_mark === 'Otro'">
            <input
              type="text"
              class="form-control"
              formControlName="OtherMark"
              placeholder="Ingresa una nueva marca"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="save(); newProduct()"
        >
          Guardar
        </button>
        <button
          data-bs-dismiss="modal"
          aria-label="Close"
          class="visually-hidden"
        ></button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="example-supplier"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #supplier
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Nuevo Proveedor</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
          (click)="newSupplier()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSupplier">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="name" />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['name'].invalid &&
                  (formSupplier.controls['name'].touched ||
                    isFormSubmittedSupplier ||
                    formSupplier.controls['name'].dirty)
                "
              >
                <span *ngIf="formSupplier.controls['name'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                formControlName="id_supplier"
              />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['id_supplier'].invalid &&
                  (formSupplier.controls['id_supplier'].touched ||
                    isFormSubmittedSupplier ||
                    formSupplier.controls['id_supplier'].dirty)
                "
              >
                <span
                  *ngIf="formSupplier.controls['id_supplier'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="phone" />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['phone'].invalid &&
                  (formSupplier.controls['phone'].touched ||
                    isFormSubmittedSupplier ||
                    formSupplier.controls['phone'].dirty)
                "
              >
                <span
                  *ngIf="formSupplier.controls['phone'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="email" />
              <div
                class="text-danger"
                *ngIf="
                  formSupplier.controls['email'].invalid &&
                  (formSupplier.controls['email'].touched ||
                    isFormSubmittedSupplier ||
                    formSupplier.controls['email'].dirty)
                "
              >
                <span
                  *ngIf="formSupplier.controls['email'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
                <span *ngIf="formSupplier.controls['email'].errors?.['email']"
                  >Ingrese un correo electrónico válido</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="saveSupplier(); newSupplier()"
        >
          Guardar
        </button>
        <button
          data-bs-dismiss="modal"
          aria-label="Close"
          class="visually-hidden"
        ></button>
      </div>
    </div>
  </div>
</div>
