<div class="px-5 pt-4">
  <div class="title container-fluid d-flex justify-content-center">
    <h5>Fecha de Facturacion: {{ currentDate | date : "medium" }}</h5>
  </div>
  <div class="title container-fluid d-flex justify-content-center">
    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Factura #</span>
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa el numero de la factura"
        aria-label="uuid"
        aria-describedby="basic-addon1"
        [(ngModel)]="uuid"
        disabled="true"
      />
      <button type="button" class="btn btn-success btn-sm" (click)="saveSale()">
        Generar Salida
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center">

      <h5>Usuario Actual: {{ username }}</h5>

  </div>

  <div class="row">
    <div class="col mx-auto">
      <h4 class="text-center">Productos Disponibles</h4>
      <div class="row-auto">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input
            type="text"
            class="form-control"
            [ngbTypeahead]="search"
            placeholder="Buscar productos..."
          />
        </div>



      </div>
      <table class="table mt-2 table-bordered table-hover">
        <thead class="table-warning">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.mark.name_mark }}</td>
            <td>{{ item.price_sale | currency}}</td>

            <td>
              <button
                type="button"
                class="btn btn-success btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                title="Agregar producto"
                (click)="selectItem(item)"
              >
                <i class="fa-sharp fa-solid fa-plus"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col mx-auto">
      <h4 class="text-center">Productos en la Factura</h4>
      <table class="table mt-2 table-bordered">
        <thead class="table-warning">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productsFact">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ subTotal(item) }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="addAll(item)"
              >
                <i class="fa-solid fa-trash"></i>
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  data-bs-backdrop="static"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar Cantidad A Vender</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input
              type="number"
              class="form-control"
              id="stockInput"
              name="stockToAdd"
              [ngModel]="stockToAdd"
              (ngModelChange)="stockToAdd = $event"
            />
          </div>
        </form>
        <div *ngIf="selectedItem && stockToAdd > selectedItem.quantity" class="text-danger">
          <span>No existe suficientes unidades para vender</span>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          *ngIf="selectedItem && stockToAdd <= selectedItem.quantity"
          (click)="addProduct()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-fade" id="clientInfoModal" tabindex="-1" aria-labelledby="clientInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientInfoModalLabel">Informacion opcional del cliente</h5>
      </div>
      <div class="modal-body">
        <div class="rounded p-4 bg-back">
          <div class="mb-3">
            <label for="nameClient" class="form-label">Nombre</label>
            <input type="text" class="form-control" placeholder="Cliente generico" aria-describedby="basic-addon2" [(ngModel)]="clientName">
          </div>
          <div class="mb-3">
            <label for="document" class="form-label">Documento</label>
            <input type="number" class="form-control" placeholder="Documento del cliente (opcional)" aria-describedby="basic-addon2" [(ngModel)]="document">
          </div>
          <div class="mb-3">
            <label for="total" class="form-label">Total en el recibo</label>
            <input disabled="true" type="number" class="form-control" placeholder="Dinero del cliente" [(ngModel)]="total">
          </div>
          <div class="mb-3">
            <label for="money" class="form-label">Dinero Recibido</label>
            <input type="number" class="form-control" placeholder="Dinero del cliente" aria-describedby="basic-addon2" [(ngModel)]="money">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="money >= total" type="button" class="btn btn-success" (click)="viewPdfClicked()">Ver PDF</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>




