<app-title [title]="'Gestionar Productos'"></app-title>

<div class="col-md-12 p-5">
  <app-search-bar
    (searchTextChanged)="onSearchTextChanged($event)"
    [placeholder]="'Buscar productos ...'"
  ></app-search-bar>

  <table class="table mt-2 table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>Nombre</th>
        <th>Presentacion</th>
        <th>Marca</th>
        <th>Stock</th>
        <th>Precio de Compra</th>
        <th>Precio de Venta</th>
        <th>Proveedor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.name }}</td>
        <td>{{ item.presentation }}</td>
        <td>{{ item.mark.name_mark }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.price_buy }}</td>
        <td>{{ item.price_sale }}</td>
        <td>{{ item.supplier.name }}</td>
        <td>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="selectItem(item)"
            title="Modificar Producto"
          >
            <i class="fa fa-pencil"></i>
          </button>
          &nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="delete(item.id_product)"
            title="Eliminar Producto"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="modal fade custom-modal modal-lg"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #actu
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="isUpdate" class="modal-title fs-5">Actualizar Producto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formProduct">
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-2 col-form-label">Nombre</label>

              <input type="text" class="form-control" formControlName="name" />

              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['name'].invalid &&
                  (formProduct.controls['name'].touched ||
                    isFormSubmitted ||
                    formProduct.controls['name'].dirty)
                "
              >
                <span *ngIf="formProduct.controls['name'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
              </div>
            </div>
            <div class="col">
              <label class="col-form-label text-center">ID</label>
              <input
                type="text"
                class="form-control"
                formControlName="id_product"
              />
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-form-label">Precio de compra</label>
              <input
                type="text"
                class="form-control"
                formControlName="price_buy"
              />
              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['price_buy'].invalid &&
                  (formProduct.controls['price_buy'].touched ||
                    isFormSubmitted ||
                    formProduct.controls['price_buy'].dirty)
                "
              >
                <span
                  *ngIf="formProduct.controls['price_buy'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
                <span
                  *ngIf="formProduct.controls['price_buy'].errors?.['notPositiveNumber']"
                  >Solo numeros positivos</span
                >
              </div>
            </div>
            <div class="col">
              <label class="col-form-label">Precio de Venta</label>
              <input
                type="text"
                class="form-control"
                formControlName="price_sale"
              />

              <div
                class="text-danger"
                *ngIf="
                  formProduct.controls['price_sale'].invalid &&
                  (formProduct.controls['price_sale'].touched ||
                    isFormSubmitted ||
                    formProduct.controls['price_sale'].dirty)
                "
              >
                <span
                  *ngIf="formProduct.controls['price_sale'].errors?.['required']"
                  >Este Campo es Obligatorio</span
                >
                <span
                  *ngIf="formProduct.controls['price_sale'].errors?.['notPositiveNumber']"
                  >Solo numeros positivos</span
                >
              </div>
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-sm-2 col-form-label">Proveedor</label>
              <input
                type="text"
                class="form-control"
                formControlName="id_supplier"
                [ngbTypeahead]="search"
                [resultFormatter]="formatSupplier"
                [inputFormatter]="formatSupplier"
                (selectItem)="onSupplierSelect($event)"
                [(ngModel)]="selectedSupplier"
                placeholder="Buscar proveedores..."
              />
              <div class="text-danger" *ngIf="invalidSupplier">
                <span>El proveedor seleccionado no es válido</span>
              </div>
            </div>
            <div class="col">
              <label class="col-form-label text-center">Cantidad</label>
              <input type="text" class="form-control" formControlName="stock" />
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-form-label">Presentacion</label>
              <select
                class="form-select mb-3"
                formControlName="presentation"
                [(ngModel)]="selectedPresentation"
              >
                <option
                  *ngFor="let option of presentationOptions"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
            </div>
            <div class="col">
              <label class="col-form-label">Unidades De La Presentación</label>
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  formControlName="description_presentation"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <label class="col-form-label">MARCA</label>
            <input
              type="text"
              class="form-control"
              formControlName="id_mark"
              [ngbTypeahead]="searchMark"
              [resultFormatter]="formatMark"
              [inputFormatter]="formatMark"
              (selectItem)="onMarkSelect($event)"
              [(ngModel)]="selectedMark"
              placeholder="Buscar marcas..."
            />
            <div class="text-danger" *ngIf="invalidMark">
              <span>La marca seleccionada no es válida</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" (click)="update()">
          Actualizar
        </button>
        <button
          data-bs-dismiss="modal"
          aria-label="Close"
          class="visually-hidden"
        ></button>
      </div>
    </div>
  </div>
</div>
