<app-title [title]="'Gestionar Productos'"></app-title>

<div class="col-md-12 p-5">
  <app-search-bar
    (searchTextChanged)="onSearchTextChanged($event)"
    [buttonText]="'Nuevo Producto'"
    [placeholder]="'Buscar productos ...'"
  ></app-search-bar>

  <table class="table mt-2 table-bordered">
    <thead class="table-primary">
      <tr>
        <th>Nombre</th>
        <th>Marka</th>
        <th>Stock</th>
        <th>Precio de Compra</th>
        <th>Precio de Venta</th>
        <th>Proveedor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.name }}</td>
        <td>{{ item.mark.name_mark }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.price_buy }}</td>
        <td>{{ item.price_sale }}</td>
        <td>{{ item.supplier.name }}</td>
        <td>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="selectItem(item); resetMessage()"
          >
            <i class="fa fa-pencil"></i>
          </button>
          &nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="delete(item.id_product)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="modal fade custom-modal modal-lg"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="!isUpdate" class="modal-title fs-5">Nuevo Producto</h1>
        <h1 *ngIf="isUpdate" class="modal-title fs-5">Actualizar Producto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
          (click)="newProduct()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formProduct">
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-2 col-form-label">Nombre</label>

              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col">
              <label class="col-form-label text-center">ID</label>
              <input
                type="text"
                class="form-control"
                formControlName="id_product"
              />
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-form-label">Precio de compra</label>
              <input
                type="text"
                class="form-control"
                formControlName="price_buy"
              />
            </div>
            <div class="col">
              <label class="col-form-label">Precio de Venta</label>
              <input
                type="text"
                class="form-control"
                formControlName="price_sale"
              />
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-sm-2 col-form-label">Proveedor</label>
              <input type="text" class="form-control"
              formControlName="id_supplier"
              [ngbTypeahead]="search"
              [resultFormatter]="formatSupplier"
              [inputFormatter]="formatSupplier"
              (selectItem)="onSupplierSelect($event)"
              [(ngModel)]="selectedSupplier"
              placeholder="Buscar proveedores...">
            </div>
            <div class="col">
              <label class="col-form-label text-center">Cantidad</label>
              <input type="text" class="form-control" formControlName="stock" />
            </div>
          </div>
          <div class="row row-cols-2 mb-3">
            <div class="col">
              <label class="col-form-label">Presentacion</label>
              <select
                class="form-select mb-3"
                formControlName="presentation"
                [(ngModel)]="selectedPresentation"
              >
                <option
                  *ngFor="let option of presentationOptions"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
              <div *ngIf="selectedPresentation === 'Otro'" class="mb-3">
                <input
                  placeholder="Ingresa nueva presentacion"
                  type="text"
                  class="form-control"
                  formControlName="otherpresentation"
                />
              </div>
            </div>
            <div class="col">
              <label class="col-form-label">Unidades De La Presentación</label>
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  formControlName="description_presentation"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <label class="col-form-label">MARCA</label>
            <input type="text" class="form-control"
              formControlName="id_mark"
              [ngbTypeahead]="searchMark"
              [resultFormatter]="formatMark"
              [inputFormatter]="formatMark"
              (selectItem)="onMarkSelect($event)"
              [(ngModel)]="selectedMark"
              placeholder="Buscar marcas...">
          </div>
        </form>
        <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="!isUpdate"
          type="button"
          class="btn btn-success btn-sm"
          (click)="save(); newProduct()"
        >
          Guardar
        </button>
        <button
          *ngIf="isUpdate"
          type="button"
          class="btn btn-warning btn-sm"
          data-bs-dismiss="modal"
          aria-label="close"
          (click)="update(); newProduct()"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
