html, body {
  height: 100%;
}

/* styles.css o tu archivo de estilos */
.contenedor-router {
  position: relative;
}

.app-nav {
  z-index: 1000; /* Asegúrate de que el navbar tenga un valor de z-index menor que el del contenido principal */
}

/* styles.css o tu archivo CSS */
.centered-button {
  position: fixed;
  bottom: 50%; /* Puedes ajustar esta propiedad según sea necesario */
}
/* Estilos adicionales para el botón */
/* styles.css o tu archivo CSS */
.navbar-transition {
  transition: margin-left 0.5s ease; /* Define la propiedad que deseas animar y su duración y tipo de animación */
}

/* styles.css o tu archivo CSS */
.button-transition {
  transition: transform 0.5s ease; /* Transición para la propiedad transform */
}

/* styles.css o tu archivo CSS */
.content-transition {
  transition: padding-left 0.5s ease; /* Define la propiedad que deseas animar y su duración y tipo de animación */
}




.content {
  flex: 1;
  height: 100%;
}

.alerta{
  position: fixed;
  max-width: 300px;
  top: 55px;
  right: 24px;
  animation: fadeIn 0.5s ease;
  z-index: 1050;
}

.button-size {
  height: 45px;
  width: 45px;
}

/* styles.css o tu archivo CSS */
.half-circle {
  position: relative;
  clip-path: polygon(40% 0, 40% 100%, 100% 100%, 100% 50%, 100% 0);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.alerta.shake {
  /* Agrega la animación de temblor */
  animation: shake 0.3s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
