html, body {
  height: 100%;
}

.contenedor-router {
  display: flex;
  height: 100vh;
  background-color: #D6EAF8 ;
  overflow: auto;
}

app-nav {
  width: 270px;
}

.content {
  flex: 1;
  height: 100%;
}

.alerta{
  position: fixed;
  max-width: 300px;
  top: 55px;
  right: 24px;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.alerta.shake {
  /* Agrega la animación de temblor */
  animation: shake 0.3s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}