html, body {
  height: 100%;
}

.contenedor-router {
  display: flex;
  height: 100vh;
  background-color: #D6EAF8 ;
  overflow: auto;
}

app-nav {
  width: 270px;
}

.content {
  flex: 1;
  height: 100%;
}