

.navbar {
  background-color: rgba(123, 176, 203, 0.638);
  height: 95%;
  width: 260px;
  align-items: first baseline;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.title svg {
  margin-right: 10px;
}


button:hover {
  color: bisque;
  transform: scale(1.020);
}

button {
  font-weight: 900;
}
